<header>
	<nav class="navbar navbar-fixed-top">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/explore">Audio</a></li>
			<li><a href="/upload">Upload</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/settings"><i class="material-icons">person</i></a></li>
		</ul>	
	</nav>
</header>