<div id="playcontrol" class="">
	<ul class="list-inline">
		<li>
			<a role='button'><i class="material-icons">fast_rewind</i></a>
		</li>
		<li>
			<a role='button' id="play"><i class="material-icons">play_arrow</i></a>
		</li>
		<li>
			<a role='button'><i class="material-icons">fast_forward</i></a>
		</li>
		<li>
			<p id="song_display">No audio</p>
		</li>
	</ul>
</div>